* {
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;
}


.header {
    display:flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.left-nav {
    display: flex;
    align-items: center;
}
#orange {
    color: rgb(239, 98, 10);
}
.nav-text > p {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

/*Right Navbar Styles Starts From here*/

.right-nav {
    display: flex;

}

.right-nav > li {
    list-style-type: none;
}

.right-nav > li > a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(39, 38, 38);
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
}

/*Container-1 Section Styles Starts From Here*/

.container-1 {
    width: 80%;
    display: block;
    margin: auto;
    height: 400px;
}
.banner {
    width: 78.5%;
    height: 400px;
    position: absolute;
    filter: brightness(0.5);
}

.sec-1-text {
    display: block ;
    margin: auto;
    position: relative;
    top: 100px;
    width: 80%;
    height: 200px;
    
    text-align: center;
}

.heading-text > h2 {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    margin: 0px;
}

.heading-text > p {
    font-size: 10px;
    color: white;
}

.input-field > .text {
    padding: 5px;
    width: 100px;
    height: 30px;
}
.input-field > #option-1 {
    padding: 5px;
    width: 100px;
    height: 30px;
}
.input-field > #option-2{
    padding: 5px;
    width: 100px;
    height: 30px;
}
.input-field > .button {
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
}

/*Container-2 Styles Starts From Here*/

.container-2 {
    width: 80%;
    height: 400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.sec-2-img {
    width: 50%;
    
}
.sec-2-text {
    width: 40%;
    
}

.mountain {
   width: 80%;
   height: 300px;
   margin-left: 80px;
}

.sec-2-text > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec-2-text > p {
    font-size: 15px;
    color: grey;
}
.sec-2-text > ul > li{
    font-size: 15px;
    color: grey;
}
.button-2 {
    background-color: orangered;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
}


/*Container-3 Styles Starts From Here*/

.container-3 {
    width: 55%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 800px;
    
}


/*Container-3 style text here*/

.container-3-text > h2 {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-3-text > p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*Row-1 styles*/
.row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.maldives , .indonesia {
    width: 390px;
    filter: brightness(0.8);
}

/*Row-2 styles*/
.row-2 {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 5px;
    height: 200px;
}
.srilanka {
    width: 220px;
    height: 200px;
}
.north-america {
    width: 330px;
    height: 200px;
}

.kashmir {
    width: 200px;
    height: 200px;
}

/*Row-3 starts from here*/
.row-3 {
    display: grid;
    grid-template-columns: 380px 400px;
    height: 200px;
    gap: 10px;
    margin-top: 10px;
    
}

.bangladesh {
    width: 350px;
    height: 200px;
}
.bandorban {
    width: 395px;
    height: 200px;
}

/*Text on image Styles Starts here*/


/*Row-1 text onn image*/

.row-1-img1 {
    height: 200px;
    
    position: relative;
}


.row-1-img1 > p {
    position: absolute;
    top: 70px;
    left: 40%;
    font-size: 15px;
    color: white;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row-1-img2 {
    height: 200px;
    
    position: relative;
}
.row-1-img2 > p {
    position: absolute;
    top: 70px;
    left: 40%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Row -2 text on image*/

.row-2-img1, .row-2-img2, .row-2-img3 {
    height: 200px;
    position: relative;
}

.row-2-img1 > p {
    position: absolute;
    top: 60px;
    left: 35%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row-2-img2 > p {
    position: absolute;
    top: 60px;
    left: 30%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.srilanka,.north-america,.kashmir {
    filter: brightness(0.7);
}

.row-2-img3 > p {
    position: absolute;
    top: 60px;
    left: 35%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 


/*Row-3 text on image*/

.row-3 {
    position: relative;
    height: 400px;
    
}

.row-3-img1 > p{
    position: absolute;
    top: 60px;
    left: 17%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; position: absolute;
}


.row-3-img2 {
    position: relative;
}


.row-3-img2 > p{
    position: absolute;
    top: 60px;
    left: 35%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; position: absolute;
}

.bangladesh , .bandorban {
    filter: brightness(0.8);
}


/*Contaimer-4 styles Starts from here*/

.container-4 {
    display: grid;
    margin: auto;
    width: 60%;
    height: 600px;
                                                                                                                                                                                                                 ;
}

.container-4-head  {
    text-align: center;
}


/*Container-4 row no-1 starts from here*/
.container-4-row1 {
    width: 100%;
    height: 200px;
    
    display: flex;
    justify-content: space-between;
}

.row-1-image-1 {
    width: 45%;
    height: 200px;
    
    background-color: #efe6f0;
    padding: 5px;
    border-radius: 10px;
    
}

.row-1-image-2 {
    width: 45%;
    height: 200px;
    
    background-color: #e4eded;
    padding: 5px;
    border-radius: 10px;
}

/*Container-4 row no-2 starts from here*/

.container-4-row2 {
    width: 50%;
    height: 200px;
    margin: auto;
    display: block;
    padding: 10px;
    background-color: rgb(211, 205, 210);
    border-radius: 10px;
}



/**/

.container-4-row2 , .row-1-image-2 , .row-1-image-1 > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-4-row2 , .row-1-image-2 , .row-1-image-1 > p {
    font-size: 13px;
}


/*Container-5 styles starts from here*/
/*Container-5 styles starts from here*/
/*Container-5 styles starts from here*/

.container-5 {
    width: 60%;
    display: flex;
    margin: auto;
    height: 400px;
    
    justify-content: space-between;
}

.input-form {
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    height: 300px;
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 5px;
}

.container-5-img {
    width: 50%;
    position: relative;
    height: 300px;
    box-sizing: border-box;
 
}

/*Discount text*/

.dis-text {
    width: 200px;
    height: 60px;
    background-color: orangered;
    color: white;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    
}

.dis-text > p , h2 {
    margin: 0px;
}

/*Input design for container-5*/

.input-form  {
    align-items: center;
}


.first-input ,.second-input {
    width: 300px;
    padding: 8px;
    border: 2px solid ;
    margin-top: 10px;
    border-radius: 5px;
    
    color: grey;
    background-color: rgb(216, 213, 213);
}

.container-5-button {
    width: 300px;
    padding: 8px;
    border: 2px solid ;
    margin-top: 10px;
    border-radius: 5px;
    
    color: white;
    background-color: rgb(245, 105, 5);
}

.nest-input {

    text-align: center;
}

/*Container-6 Styles starts from here*/
/*Container-6 Styles starts from here*/
/*Container-6 Styles starts from here*/

.container-6 {
    width: 60%;
    display: flex;
    margin: auto;
    border: 3px solid grey;
    justify-content: space-between;
    padding: 10px;
}
.container-6-txt {
    width: 350px;
}

/*Container-7 styles starts from here*/

.container-7 {
    width: 100%;
    height: 300px;
    text-align: center;
    margin: auto;
    background-color: rgb(230, 224, 224);
}

.logo-text {
    display: flex;
   margin-top: 30px;
    margin-left: 43%;
    align-items: center;
    width: 250px;
}

.footer-text > p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icons {
    padding: 5px;
    display: flex;
    
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 42.5%;
}


























/*Responsive Design Starts from Here*/
/*Responsive Design Starts from Here*/

@media only screen and (max-width: 600px) {
   
   /*Body Responsive*/

   html,body {
    
    overflow-x: hidden;
    
    
   }
   
    /*Header Responsive*/
   
    .header {
        display: flex;
        flex-direction: column;
    }

    .input-field {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .input-field > .text {
        padding: 5px;
        width: 100%;
        height: 30px;
    }

    .input-field > #option-1 {
        padding: 5px;
        width: 100%;
        height: 30px;
        margin-top: 5px;
    }

    .input-field > #option-2{
        padding: 5px;
        width: 100%;
        height: 30px;
        margin-top: 5px;
    }
    .input-field > .button {
        padding: 5px;
        width: 100%;
        height: 30px;
        background-color: orangered;
        color: white;
        border: none;
        margin-top: 5px;
        border-radius: 5px;
    }

    /*Container-2 Responsive Starts From here*/

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec-2-text {
        text-align: center;
        width: 300px;
        height: 350px;
    }
    .sec-2-img {
        width: 300px;
        margin-top: 10px;
    }
    .mountain {
        width: 300px;
        margin-left: 0px;
    }
    
/*Container-3 Styles Starts from here*/

.container-3{
    margin-top: 200px;
}
.row-1 {
    display: flex;
    flex-direction: column;
}
.row-2 {
    display: grid;
    grid-template-columns: 1fr;
}
.row-3 {
    margin-top: 420px;
    display: grid;
    grid-template-columns: 1fr;
}

.row-3-img1 > p{
    position: absolute;
    top: 60px;
    left: 37%;
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; position: absolute;
}


/*Conatiner-4 er first row styles starts from here*/


.container-4 {
    margin-top: 800px;
    display: flex;
    height: 800px;
    flex-direction: column;
    width: 325px;
}
.container-4-row1 {
    display: flex;
    flex-direction: column;
}



/*Row-1 responsive*/
.row-1-image-1 {
    width: 325px;
    height: 200px;
    
    background-color: #efe6f0;
    padding: 5px;
    border-radius: 10px;
    
}

.row-1-image-2 {
    width: 325px;
    height: 200px;
    margin-top: 10px;
    background-color: #e4eded;
    padding: 5px;
    border-radius: 10px;
}


/*Row-2 responsive*/

.container-4-row2 {
    width: 325px;
    height: 150px;
    margin-top: 100px;
    padding: 10px;
    background-color: rgb(211, 205, 210);
    border-radius: 10px;
}


/*Container-4 Head*/

.container-4-head {
    width: 325px;
}

/*Container-5 responsive starts from here*/

.container-5 {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.input-form {
    width: 325px;
}
 
.first-input , .second-input , .container-5-button {
    margin-left: 0px;
}
    
.discount-img {
    width: 325px;
    margin-left: 20px;
    margin-top: 10px;
}
.dis-text {
    margin-left: 20px;
}

/*Container-6 Responsive starts from*/

.container-6 {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 150px;
    width: 325px;
}

.container-6-txt {
    width: 280px;
}
.food {
    width : 300px;
    height: 200px;
}


/*Container-7 Responsive starts from here*/
/*Container-7 Responsive starts from here*/
/*Container-7 Responsive starts from here*/

.container-7 {
    width: 100%;
    height: 200px;
}

.logo-text, .icons {
    margin-left: 35%;
}

}



